<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Glacial.Properties.Settings.glacial_almacenConnectionString"
            connectionString="server=192.168.1.82;user id=SGAglacial;password=pato12;persistsecurityinfo=True;database=glacial_almacen"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>